.title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.resume-container {
  max-width: 60%;
  padding: 3rem 0 0 3rem;
}

.resume {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--secondary-color);
  text-align: justify;
  margin-bottom: 3rem;
}
