.project-card-container {
  display: flex;
  width: 350px;
  min-height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0px 0px 10px 0.5px var(--primary-color);
  padding: 2%;
  margin-bottom: 4rem;
}

.project-card-container:hover {
  box-shadow: 0px 0px 20px 1.5px var(--primary-color);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.project-image:hover {
  transform: scale(1.05);
}

.project-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.project-description {
  height: 200px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary-color);
  text-align: justify;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .project-card-container {
    min-height: 0px;
  }

  .project-description {
    height: 100%;
    padding: 2rem 0;
  }
}
