.container-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  margin-bottom: 5rem;
}

.header-buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-button {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--secondary-color);
  transition: color 0.3s ease;
  text-decoration: none;
}

.header-button:hover {
  color: var(--primary-color);
  transform: scale(1.1);
  text-decoration: underline;
}

.header-icons {
  display: flex;
  gap: 10px;
  z-index: 10;
}

.header-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.theme-toggle {
  margin: 0px;
  padding: 0px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: var(--primary-color);
}

.theme-toggle:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .container-header {
    display: flex;
    justify-content: flex-end;
    height: 180px;
    margin-bottom: 2rem;
  }

  .header-buttons {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .container-header {
    display: flex;
    justify-content: flex-end;
    height: 180px;
    margin-bottom: 0px;
  }

  .header-buttons {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
