.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 100px;
}

.footer-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.footer-contact-title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.footer-contact-text {
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary-color);
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer-social img {
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 0.3s ease;
}

.footer-social img:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .footer-contact {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
